html{
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.content{
    display: flex;
    flex: 1;
}

.container{
    border: solid black 4px;
    background-color: #CCC;
    margin-bottom: auto;
    margin-top: auto;
}

.button{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: solid black 2px;
    background-color: white;
}

.rows{
    display: flex;
}

p{
    margin: 2px;
}

#title{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

#display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 4px;
    font-size: 40px;
    background-color: white;
}

#displayTextOne{
    font-size: 15px;
}

button{
    width: 90px;
    height: 90px;
    font-size: 32px;
    cursor: pointer;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 5vh;
    background-color: #CCC;
    border: solid black 1px;
}